[submodule "7-sorter-utility"]
	path = 7-sorter-utility
	url = git@github.com:spbu-coding-2024/7-sorter-utility.git
[submodule "7-pepeclub"]
	path = 7-pepeclub
	url = git@github.com:spbu-coding-2024/7-pepeclub.git
[submodule "7-vvmaksim"]
	path = 7-vvmaksim
	url = git@github.com:spbu-coding-2024/7-vvmaksim.git
[submodule "7-MaksimGSI"]
	path = 7-MaksimGSI
	url = git@github.com:spbu-coding-2024/7-MaksimGSI.git
[submodule "7-Stepiiiiiiik"]
	path = 7-Stepiiiiiiik
	url = git@github.com:spbu-coding-2024/7-Stepiiiiiiik.git
[submodule "7-Ganesha1967"]
	path = 7-Ganesha1967
	url = git@github.com:spbu-coding-2024/7-Ganesha1967.git
[submodule "7-epishkin06"]
	path = 7-epishkin06
	url = git@github.com:spbu-coding-2024/7-epishkin06.git
[submodule "7-alken1t15"]
	path = 7-alken1t15
	url = git@github.com:spbu-coding-2024/7-alken1t15.git
[submodule "7-ilq1"]
	path = 7-ilq1
	url = git@github.com:spbu-coding-2024/7-ilq1.git
[submodule "7-NIcolaiKl"]
	path = 7-NIcolaiKl
	url = git@github.com:spbu-coding-2024/7-NIcolaiKl.git
[submodule "7-pechenb"]
	path = 7-pechenb
	url = git@github.com:spbu-coding-2024/7-pechenb.git
