[submodule "7-sorter-utility"]
	path = 7-sorter-utility
	url = git@github.com:spbu-coding-2024/7-sorter-utility.git
[submodule "7-pepeclub"]
	path = 7-pepeclub
	url = git@github.com:spbu-coding-2024/7-pepeclub.git
[submodule "7-vvmaksim"]
	path = 7-vvmaksim
	url = git@github.com:spbu-coding-2024/7-vvmaksim.git
[submodule "7-MaksimGSI"]
	path = 7-MaksimGSI
	url = git@github.com:spbu-coding-2024/7-MaksimGSI.git
